.home-container{

    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap:20px;

    background-image: url(homeimg.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid  darkgreen;
    
    min-height: 100vh;
    height:auto;
    overflow: visible;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(1);
    transform: translateY(-50px);
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    font-family:'Trebuchet MS';
} 
.nav{
    color: rgb(5, 49, 5);
}
#para{
    color: beige;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
 
    /* display: flex;
    justify-content: center; 
    justify-content: space-around;
    justify-content: space-around;  */
    padding: 2%;
    transform: translateY(-30%);
}
span{
    color: rgb(213, 165, 7)
}

.button{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    display: grid;
    grid-template-rows: 1fr;
    gap: 10px;
  
}
.explore{
    color: bisque;
    background-color: darkgreen;
    font-size: 15px;
    font-family:cursive;
    border-radius: 2px;
    transform: translateY(-100px);
    padding: 10px;
    margin-left: 20px;
    border: 2px solid darkgray;
    text-decoration: none;
}
.explore1:hover{
    background-color: rgb(195, 227, 195);
    color: darkgreen;
    cursor: pointer;
    border: 1px solid darkgreen;
}
